body {
    margin: 0;
    font-family: sans-serif;
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 150px 150px auto;
    grid-template-rows: auto 150px;
}

.grid__item {
    background-color: #48e;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}

.grid__item:first-child {
    width: 50px;
}

.grid--fr {
    background-color: #333;
    grid-template-columns: repeat(2,1fr 2fr);
}

.grid--minmax {
    height: 50vh;
    background-color: #f5f5dc;
    grid-template-columns: repeat(3, minmax(300px,600px));
    grid-template-rows: repeat(2,200px) 1fr;
}