.formulario{
    background-color: red;
    padding: 30px;
}

.formulario_input{
    padding: 6px 10px;
    width: 90%;
    background-color: black;
    color: red;
    margin: 10px;
}

.formulario_submit{
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: red;
    color: white;
    width: 50%;
}