body {
    background-color: #333;
    color: #ddd;
    font-family: sans-serif;
}

details {
    background-color: transparent;
    font-weight: bold;
}

details[open] {
    border: 1px solid #ddd;
    background-color: #444;
}

summary {
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 0.8rem;
    color: #eee;
}

ul {
    font-weight: 100;
    font-style: italic;
}

h1 {
    font-weight: 300;
    text-decoration: underline;
}