body {
    margin: 0;
    font-family: sans-serif;
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-auto-flow: column;
    grid-auto-columns: 100px;
}

.grid__item {
    background-color: #48e;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}
