.importada_en_el_head{
    font-family: Montserrat;
    font-style: italic;
}

.importada_y_definida{
    font-family: Personalizada;
}

@font-face {
    font-family: Personalizada;
    src: url(fuentes/Roboto-Bold.ttf) format("truetype");
    font-weight: 500;
}