body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
}

.box {
    width: 6rem;
    height: 6rem;
    background-color: #000;
    color: #fff;
    margin-top: 3rem;
    font-size: 3rem;
    transition: left 1s 1s ease-in;
    position: relative;
    left: 0;
}

body:hover .box {
    left: 100%;
}


