body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    container-type: inline-size;
    container-name: main;
}

p {
    font-size: 0.4rem;
}

@container main (max-width: 500px) {
    p {
        font-size: 1.4rem;
        color: rebeccapurple;
    }
}