body {
    background-color: #fff;
    font-family: sans-serif;
    color: white;
}

.card {
    background-color: coral;
    text-align: center;
    width: 25%;
    height: 30%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 3rem 0 #666c;
}

.card_image {
    border-radius: 100%;
    width: 30%;
}

.card_title {
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
    text-transform: uppercase;
}

.card_subtitle {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 0.5rem;
    width: 100%;
}

.card_content {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: justify;
    border-radius: 0.4rem;
    margin: 0;
}

.green {
    background-color: rgba(20, 210, 20, 0.8)
}

.light_blue {
    background-color: hsl(185, 60%, 50%)
}

.coral {
    background-color: #ff7f50;
}
