body {
    background-color: #08f;
    margin: 0;
    font-family: sans-serif;
    color: #FFF;
}

.box {
    width: 100%;
    height: 300px;
    margin: 0;
    background-image: url(../../HTML/imagenes/perro.jpg);
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 0%);
    background-attachment: local;
}

p {
    width: 20vw;
}