.box1 {
    background: red;
    height: 50px;
    width: 50px;
    margin-bottom: 40px;
}

.box2 {
    background: red;
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}