div {
    background-color: transparent;
    width: 200px;
    margin: auto;
    text-align: center;
    border: 3px solid green;
    border-bottom: 6px dotted greenyellow;
    border-top-style: dashed;
    border-top-color: greenyellow;
    border-radius: 20px 0;
    color: white;
}

.user-input {
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid greenyellow;
    color: greenyellow;
}

body {
    background: black;
}