body{
    margin: 0;
    font-family: sans-serif;
}

.flexbox-row {
    border-bottom: 1px solid #000;
    display: flex;
    flex-flow: row wrap;
}

.flexbox-column {
    display: flex;
    flex-flow: column wrap;
    height: 50vh;
}

.flexbox__item {
    background: #911;
    margin: 0.6rem;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    width: 14rem;
}

.item--order2{
    order: 2;
}

.item--order3{
    order: 3;
}

.flexbox__item:first-child {
    background-color: #f77;
}

.flexbox__item:last-child {
    background-color: #000;
}