body {
    margin: 0;
    color: #ddd;
    background-color: #222;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 0.8rem;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.2rem;
    padding: 0.7rem;
}

form {
    background-color: transparent;
    padding: 1.2rem 0;
    max-width: 500px;
    margin: auto;
    margin-top: 3rem;
    box-shadow: 0px 0px 55px #fff2;
    border-radius: 0.5rem;
}

.form_input {
    padding: 0.3rem 1.2rem;
}

input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.3rem;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #fff1;
    background-color: transparent;
    border-radius: 0.2rem;
    color: #ddd;
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

option {
    background-color: #222;
}

textarea {
    min-width: 100%;
    resize: vertical;
    min-height: 12vh;
    max-height: 24vh;
    font-family: sans-serif;
}

label {
    font-size: 0.88rem;
}

.checkbox {
    width: auto;
}