body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

h1 {
    text-transform: uppercase;
    word-wrap: balance;
}

section {
    display: flex;
}

.box {
    width: 16rem;
    height: 16rem;
    margin: auto;
    margin-top: 4rem;
    background-color: #fff;
    border: 1px solid#0006;
}

.box--ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box--break {
    word-break: break-all;
}

.box--overflow-wrap {
    word-wrap: anywhere;
}