body {
    margin: 0;
    font-family: sans-serif;
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 150px;
    gap: 20px;
    margin: auto;
    margin-top: 20px;
}

.grid__item {
    background-color: #48e;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    max-width: 100%;
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    }
}