body {
    margin: 0;
    font-family: sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 150px 150px auto;
    grid-template-rows: auto 150px;
}

.grid__item {
    background-color: #48e;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}

.grid__item:first-child {
    width: 50px;
}

.grid--fr {
    background-color: #333;
    grid-template-columns: 2fr 1fr 1fr;
}