body {
    margin: 0;
    color: #ddd;
    background: linear-gradient(to bottom, #333, #000);
}

form {
    background-color: transparent;
    padding: 1rem 1.2rem;
    max-width: 500px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    box-shadow: 0px 0px 55px #fff2;
    border-radius: 0.3rem;
}


input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.3rem;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #fff1;
    background-color: transparent;
    border-radius: 0.3rem;
    color: #ddd;
    font-size: 0.8rem;
    margin: 0.4rem 0;
}

label {
    font-size: 0.88rem;
}

.checkbox {
    width: auto;
    margin-left: 0.5rem;
}

fieldset {
    margin: 1.2rem 0;
    border: 0.1rem solid #ddd6;
    border-radius: 0.3rem;
}

legend {
    padding: 0 0.4rem;
    color: #ddd6;
}