body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background-color: #ededed;
}

div, body, header, nav, ul, footer {
    box-sizing: border-box;
}

.main-wrapper, header, footer {
    width: 100%;
}

nav a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

h1, h2 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

/* Header */

.header {
    background-color: #48e;
    position: sticky;
    top: 0;
}

.main-navbar ul {
    display: flex;
    padding: 0;
    justify-content: center;
}

.main-navbar li {
    list-style: none;
    padding: 0.25rem;
}

.main-navbar a {
    color: #fff;
    display: inline-block;
    padding: 0.3rem 0.5rem;
}

/* Main Section */

.main-wrapper {
    display: flex;
    flex-grow: 1;
    max-width: 65rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6rem;
}

aside, main {
    padding: 0.6rem;
    flex-basis: 0;
    background-color: #fff;
}

main {
    min-width: 19rem;
    flex-grow: 2;
}

.main-wrapper aside {
    flex-grow: 1;
    flex-direction: column;
}

.secondary-navbar {
    min-width: 9rem;
    text-align: center;
}

.secondary-navbar ul {
    padding: 0;
}

.secondary-navbar li {
    list-style: none;
}

.secondary-navbar a {
    color: #48e;
    display: inline-block;
    padding: 0.3rem 0.5rem;
}

aside:last-child {
    min-width: 10rem;
    display: none;
}

/* Footer Section*/

footer {
    margin-top: auto;
    background-color: #333;
    color: #fff;
    padding: 2.5rem;
    font-weight: bold;
    text-align: center;
}

/* Media Querys*/

@media screen and (min-width: 800px) {
    .main-wrapper {
        flex-direction: row;
    }
}

@media screen and (min-width: 500px) {
    aside:last-child {
        display: block;
    }
}