* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.box {
    font-size: 2rem;
    padding: 0 2.5rem;
    border: 6px solid #000;
    width: 50vw;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-color: #fff #000;
    scrollbar-width: none;
}

.grow {
    height: 200vh;
}