body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #f80;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 3.6rem;
    text-wrap: balance;
}

/* --- HEADER SECTION --- */

.header {
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url("../../../HTML/imagenes/header_backgrond.jpeg");
    background-size: cover;
    display: flex;
}

.header__overlay {
    min-height: 100%;
    min-width: 100%;
    background-color: #0006;
    position: absolute;
    z-index: 1;
    background-color: #f806;
}

.header__item-container {
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 70%;
}

.header__item-container p {
    text-wrap: pretty;
}

.header__img {
    border-radius: 50%;
    max-width: 40%;
    min-width: 15rem;
    border: 0.4rem solid #fff;
    margin-bottom: 1.2rem;
}

/* --- NAVBAR SECTION --- */

.nav {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 1.2rem;
    position: sticky;
    top: 0;
    margin-bottom: 0.6rem;
    box-shadow: 0 15px 25px #0006;
}

.nav__ul-container {
    flex-grow: 4;
    justify-content: center;
}

.nav__logo-container {
    flex-grow: 1;
    text-align: center;
}

.nav__ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.nav__link {
    color: #f80;
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem;
    font-weight: bold;
    border-radius: 0;
    transition: background-color 0.2s,border-radius 0.2s, outline 0.2s, outlie-offset 0.2s;
    outline: 0;
    outline-offset: 0;
}

.nav__link:hover {
    background-color: #f806;
    border-radius: 1.4rem;
    outline: 2px solid #f809;
    outline-offset: -0.4rem;
}

.link--login {
    background-color: #d60;
    color: #fff;
    border-radius: 1.4rem;
    padding: 0.8rem 1.6rem;
}

.link--login:hover {
    background-color: #f809;
    outline: none;
}

.nav__logo {
    width: 9rem;
}

/* --- MAIN SECTION --- */

main {
    max-width: 80rem;
    margin: auto;
    font-size: 2rem;
    text-wrap: pretty;
}