body {
    font-family: sans-serif;
    margin: 0;
}

.nav {
    background-color: #48e;
}

.nav__list {
    margin: 0;
    text-align: center;
}

.nav__item {
    display: inline-block;
}

.nav__link:hover {
    background-color: #59e;
} 

.nav__link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.link--button {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 6px 12px;
    color: #48e;
    border-radius: 3px;
    margin-left: 60px;
}

.link--button:hover {
    background-color: transparent;
    color: #fff;
}

.link--inexistente {
    display: none;
}